@import './variables';


.container-create-restaurant,
.container-edit-restaurant,
.container-create-dish,
.container-edit-dish {
    max-width: 800px;
    margin: 50px auto;
    padding-bottom: 50px;
    background-color: $my-card-bg;

    h4 {
        color: $boss-color;
    }

    form {

        .btn-group>.btn {
            --bs-btn-border-color: white;
            --bs-btn-color: white;
        }

        .div-input {
            width: 100%;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }


        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}