@import './variables';

#app {
    height: 100vh;
    overflow-y: hidden;

    #boss {
        color: $boss-color;
    }

    #datetime {
        color: rgb(17, 205, 17);
    }

    #sidebarMenu {
        height: calc(100vh - $header-h);
        position: fixed;
        z-index: 2;
        top: $header-h;
        padding-top: 60px;
    }

    .container-dashboard {
        // border: 3px solid red;
        height: calc(100vh - $header-h);
        max-width: 100%;

        .content-main {
            overflow-y: auto;

        }
    }
}