@import './variables';

#boss {
    color: $boss-color;
}

#datetime{
    color: rgb(17, 205, 17);
}

.navbar-toggler {
    margin-right: 90%;
}

#sidebarMenu {
    position: fixed;
    height: 100%;
}

.container-dashboard {
    border: 1px solid red;

    .content-main {
        height: calc(100vh - $header-h);
        overflow-y: auto;
        overflow-x: hidden;

    }
}