@use './variables' as *;

.navbar{
    position: sticky;
    // position: relative;
    z-index: 3;
    width: $maxwidth;
    img{
        max-width: 80%;
    }
    background-color: $header-bg;
    color: $header-color;
    .navbar-brand{
        width: 100px;
        margin: 0;
        padding: 0;
    }
}