:root {
    --bs-emphasis-color-rgb: $header-color;
    /* sovrascrittura color bootstrap*/
    --bs-btn-border-color:white;
}


$bg-main: #5d5d5d;
$header-bg: #1f17177b;
$header-color: white;
$boss-color: rgba(179, 64, 64, 0.931);
$second-color:rgb(49, 224, 49);
$th-color:$boss-color;
$homepage-color: white;
$main-color: white;
$maxwidth: 100%;
$header-h: 80px;
$my-card-bg:#333; 