:root{
    --bs-emphasis-color-rgb:$header-color; /* sovrascrittura color bootstrap*/
}


$header-bg:#1f17177b;
$header-color:white;
$boss-color:rgb(207, 4, 4);
$homepage-color:white;
$maxwidth:100%;
$header-h:100px;
